<div class="hero min-h-screen bg-gray-800 background">
  <div class="flex-col justify-center hero-content lg:flex-row">
    <div class="hidden md:block opacity-0 text-white text-center lg:text-left">
      <h1 class="mb-5 text-5xl font-bold">
        Hello there
      </h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
    </div>
    <div class="flex-shrink-0 w-full max-w-lg text-white">
      <h1 class="text-4xl font-semibold mb-6">Acesse sua conta</h1>
      <h5 class="mb-6">Ainda não tem uma conta? <%= link_to "Cadastre-se", new_registration_path(resource_name), class: "underline" %></h5>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      label: 'E-mail',
                      autofocus: true,
                      wrapper_html: { class: 'form-control' },
                      label_html: {class: 'label-text mb-2 text-white'},
                      input_html: { autocomplete: "email", class: 'input input-bordered text-black' }%>
          <%= f.input :password,
                      required: true,
                      label: 'Senha',
                      label_html: {class: 'label-text mb-2 text-white'},
                      wrapper_html: { class: 'form-control my-8' },
                      hint: ("#{@minimum_password_length} caractéres no mínimo" if @minimum_password_length),
                      input_html: { autocomplete: "new-password", class: 'input input-bordered text-black' } %>
          <%= link_to "Esqueci minha senha", new_password_path(resource_name) %><br />
        </div>

        <div class="form-actions mt-8 flex flex-col">
          <%= f.button :submit, "Entrar", class: 'btn btn-primary rounded-lg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
