<div class="hero min-h-screen bg-gray-800 background">
  <div class="hero-content">
    <div class="max-w-xl">
      <h1 class="mb-12 text-5xl font-bold text-white">
        Esqueci minha senha
      </h1>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      label: 'E-mail',
                      wrapper_html: { class: 'form-control' },
                      label_html: {class: 'label-text mb-2 text-white'},
                      input_html: { autocomplete: "email", class: 'input input-bordered mb-6' } %>
        </div>

        <div class="form-actions flex flex-col gap-5">
          <%= f.button :submit, "Enviar instruções de reset", class: 'btn btn-primary rounded-lg' %>
          <%= link_to "Login", new_session_path(resource_name), class: 'btn btn-secondary rounded-lg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
